.footer-custom {
  background: #0f1c2e;
  color: white;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

.footer-logo {
  max-width: 120px;
  height: auto;
}

.nav-link-custom {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link-custom:hover {
  color: #00b7eb;
}
