
    /* Paleta de Colores */
    :root {
      --marron: #65523c;
      --beige: #FAF3E0;
      --verde: #3C6E47;
      --gris: #1E1E1E;
      --dorado: #ccb648;
      --rosa-palido: #eecfce; /* Nuevo color para el botón de iniciar sesión */
      --gris-oscuro-transparente: rgba(30, 30, 30, 0.8); /* Para el logo, si se superpone */
    }

  
    